table{
    background-color: wheat;
    line-height: 2em;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: black;
  background-image:url("grocery.jpg");
  background-size: cover;

}

h1 {
  font-size:3em; 
  font-weight: normal;
  line-height: 2em;
  text-align: center;
  color: green;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  display: block;
  block-size: 2ex;
  background-color: salmon;
  line-height:1.5em;
  padding-bottom: 2em;
}

